@import url("https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400;500;600&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Quicksand", sans-serif;
  transition: all 0.3s ease;
}

h1 {
  font-size: 2rem;
  text-transform: uppercase;
}

h2 {
  text-transform: uppercase;
  padding-bottom: 40px;
}

header {
  background: linear-gradient(118.15deg, #11145f 4.43%, #61dafb 100.25%);
  color: #fff;
}

nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 90%;
  height: 10vh;
  margin: auto;
}

.logo,
.links {
  flex: 1;
}

.links {
  display: flex;
  justify-content: space-between;
  list-style: none;
}

.links a {
  color: white;
  text-decoration: none;
}

.hamburger {
  display: none;
}

.intro {
  padding: 100px 0 30px 0;
}

.intro h3 {
  padding-bottom: 20px;
  font-weight: 400;
}

.intro,
.social-links {
  display: flex;
  align-items: center;
}

.intro p {
  line-height: 1.6;
  max-width: 650px;
  padding: 5px 0;
}

.indicator {
  width: 25px;
  margin: 0 10px 0 40px;
}

.mobile-indicator {
  display: none;
}

.social-links {
  list-style: none;
  padding: 10px 0;
}

.social-links li {
  padding: 0 10px 0 0;
}

.social-links li img {
  width: 35px;
  transition: 0.5s ease-in;
}

.social-links li img:hover {
  opacity: 0.6;
}

#technologies {
  width: 80%;
  margin: auto;
  padding: 50px 0;
}

.tools {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  text-align: center;
  gap: 50px;
}

.tools h3 {
  padding: 10px 0;
  text-transform: uppercase;
  letter-spacing: 1.1px;
}

.tools p {
  line-height: 1.6;
}

#contributions {
  background: linear-gradient(117.06deg, #32965a 3.97%, #0f81a5 100%);
  padding: 50px 10px;
}

.work {
  width: 80%;
  margin: auto;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 30px 10px;
}

.card {
  background: #ffffff;
  box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.25);
  border-radius: 6px;
}

.card img {
  width: 100%;
  border-radius: 5px 5px 0 0;
}

.card-body {
  padding: 10px 10px 20px;
}

.card-body p {
  padding: 10px 0;
}

.card-body button {
  padding: 0.5em 2em;
  border: none;
  background: #fff;
  box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.25);
  border: 1px solid #0f81a5;
  border-radius: 3px;
  cursor: pointer;
}

#touch {
  width: 80%;
  margin: auto;
  padding: 50px 0;
}

#touch h2 {
  max-width: 500px;
}

.message {
  display: flex;
  align-items: center;
}

form,
.illustration {
  flex: 1;
}

.illustration img {
  width: 100%;
}

.field {
  padding: 10px 0;
}

.field label {
  display: block;
  padding-bottom: 15px;
}

.field input,
.field textarea {
  width: 100%;
  border: 1px solid #005c83;
  padding: 7px;
  outline-color: #005c83;
  max-width: 300px;
}

.field input {
  outline: none;
  border: none;
  border-bottom: 1px solid #005c83;
}

.field textarea {
  resize: vertical;
  min-height: 300px;
}

form button {
  padding: 0.5em 2em;
  border: none;
  background: #005c83;
  box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.25);
  border-radius: 3px;
  cursor: pointer;
  color: #fff;
  text-transform: uppercase;
}

/*  */
@media (max-width: 768px) {
  .tools {
    grid-template-columns: repeat(2, 1fr);
  }

  h2 {
    font-size: 1.2rem;
  }

  .work {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media (max-width: 576px) {
  header {
    height: 100vh;
    position: relative;
  }

  .logo {
    position: absolute;
    left: 0;
    z-index: 3;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    padding: 0 20px;
  }

  .hamburger {
    display: initial;
  }

  .links {
    display: block;
    position: fixed;
    background: #fff;
    top: 0;
    left: 0;
    height: 100vh;
    width: 100%;
    z-index: 1;
    padding: 50px 20px;
    display: none;
  }

  .links.active {
    display: block;
  }

  .links li {
    padding: 30px 0px;
  }

  .links a {
    color: #000;
    font-weight: 600;
  }

  .intro-content {
    position: absolute;
    left: 20px;
    bottom: 0;
    transform: translateY(-20%);
  }

  .intro h3 {
    padding: 0;
  }

  .intro p {
    display: none;
  }

  .indicator {
    display: none;
  }

  .mobile-indicator {
    display: initial;
  }

  .tools {
    grid-template-columns: 1fr;
  }

  h2 {
    font-size: 1rem;
  }

  .work {
    grid-template-columns: 1fr;
  }

  #contributions {
    background: #fff;
  }

  form {
    width: 100%;
  }

  .message {
    flex-direction: column;
  }
  .illustration {
    margin-bottom: 40px;
    order: -1;
  }
}
